<!-- 방재호 v1.0 -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=540,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div id="wrapper">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div><!-- <header>상단</header> -->
        <div id="upload-form">
            <button id="close-form">닫기</button>
            <form method="POST" enctype="multipart/form-data" id="form">
                <div class="swiper-container swiper-no-swiping">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="height-check">
                                <div id="gallery-call" class="call-btn">사진업로드</div>
                                <input type="file" id="gallery" class="files" name="bf_file[]" accept="image/*" />
                                <div style="width:540px; height:1000px; background-color: #000;"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="height-check"><button class="slideNext-btn">다음</button>
                                <div id="big-thumb" class="thumb"></div>
                                <div id="reGallery-btn">재업로드</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="height-check">
                                <div id="small-thumb" class="thumb"></div>
                                <div id="user-info-wrap"><input type="text" id="name" name="GameID" placeholder="작성자 이름"
                                        class="user-info"> <input type="tel" id="birth" name="birth" placeholder="생년월일"
                                        maxlength="10" class="user-info"> <input type="tel" id="phone" name="phone"
                                        placeholder="전화번호" maxlength="13" class="user-info"> <input type="email"
                                        id="subject" name="subject" placeholder="이메일" class="user-info"> <textarea
                                        name="content" id="content" class="user-info" cols="30" rows="10"></textarea>
                                </div><input type="submit" value="글 작성" id="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <!-- <p>D-000</p> --> <button id="list-btn">참여 현황</button> <button id="upload-btn">업로드하기</button></footer>
    </div>
    <div id="list-wrap">
        <ul class="list"></ul>
        <ul class="paging"></ul>
    </div>
    <div id="detail"></div>
</body>

</html>