/*플로팅 이벤트*/

#floatingBox {
    position: fixed;
    width: 72px;
    height: 72px;
    top: 300px;
    left: 50%;
    margin-left: 190px;
    z-index: 2;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 72px 72px;
    background-image: url(./img/floating.png);
    cursor: pointer;
}

.count {
    transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}

.count.active {
    color: #fff !important;
    background-color: #f6d55c !important;
}

#check-page {
    transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}
