#wrapper {
    width: 540px;
    height: 1100px;
    margin: 0 auto;
    position: relative;

    background: url(img/main_bg.png) no-repeat center;
}

section {
    position: relative;
}

img {
    display: block;
}

.arrow {
    position: absolute;
    top: 55px;
    right: 60px;
    width: 26px;
    height: 15px;
    cursor: pointer;
}

.arrow-reward {
    background: url(img/reward/arrow.png) no-repeat center;
}

.arrow-fashion {
    background: url(img/fashion/arrow.png) no-repeat center;
}

.arrow-watch {
    background: url(img/watch/arrow.png) no-repeat center;
}

.swiper-pagination-bullet {
    background: none;
    opacity: 0;
}

.swiper-pagination-bullet-active {
    background: none;
    opacity: 0;
}

.swiper-button-next {
    width: 19px;
    height: 36px;
    background: url(img/next.png) no-repeat center;
}

.swiper-button-prev {
    width: 19px;
    height: 36px;
    background: url(img/prev.png) no-repeat center;
}

/************************************************/

/************** top *******************/
#year {
    width: 65px;
    height: 23px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url(img/main/year.png) no-repeat center;
}

#title {
    width: 331px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 170px);
    background: url(img/main/title.png) no-repeat center;
}

#subtitle {
    width: 338px;
    height: 55px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background: url(img/main/subtitle.png) no-repeat center;
}

#logo {
    width: 141px;
    height: 19px;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    background: url(img/main/logo.png) no-repeat center;
}

.category {
    cursor: pointer;
}

/************************************************/

/******************  reward *****************************/
#reward {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/************************************************/
/******************  fashion *****************************/
#fashion {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-fashion {
    width: 540px;
    overflow: hidden;
}

.fashion-pager {
    bottom: 0 !important;
    top: 100px;
    width: 100%;
    height: 256px;
}

.fashion-pager .swiper-pagination-bullet {
    width: 33.3%;
    height: 75px;
    margin-bottom: 5px;
    float: left;
}

.fashion-pager .swiper-pagination-bullet:nth-child(1) {
    background-image: url(img/fashion/nav/nav1.png);
}
.fashion-pager .swiper-pagination-bullet:nth-child(2) {
    background-image: url(img/fashion/nav/nav2.png);
}
.fashion-pager .swiper-pagination-bullet:nth-child(3) {
    background-image: url(img/fashion/nav/nav3.png);
}
.fashion-pager .swiper-pagination-bullet:nth-child(4) {
    background-image: url(img/fashion/nav/nav4.png);
}
.fashion-pager .swiper-pagination-bullet:nth-child(5) {
    background-image: url(img/fashion/nav/nav5.png);
}
.fashion-pager .swiper-pagination-bullet:nth-child(6) {
    background-image: url(img/fashion/nav/nav6.png);
}
.fashion-pager .swiper-pagination-bullet:nth-child(7) {
    background-image: url(img/fashion/nav/nav7.png);
}
.fashion-pager .swiper-pagination-bullet:nth-child(8) {
    background-image: url(img/fashion/nav/nav8.png);
}
.fashion-pager .swiper-pagination-bullet:nth-child(9) {
    background-image: url(img/fashion/nav/nav9.png);
}

/************************************************/
/******************  watch *****************************/
#watch {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-watch {
    width: 540px;
    overflow: hidden;
}

.watch-pager {
    bottom: 0 !important;
    top: 92px;
    width: 100%;
    height: 256px;
}

.watch-pager .swiper-pagination-bullet {
    width: 33.3%;
    height: 80px;
    margin-bottom: 5px;
    float: left;
}

.swiper-pagination-bullet {
    background-position: center;
    background-repeat: no-repeat;
}

.watch-pager .swiper-pagination-bullet:nth-child(1) {
    background-image: url(img/watch/nav/nav1.png);
}
.watch-pager .swiper-pagination-bullet:nth-child(2) {
    background-image: url(img/watch/nav/nav2.png);
}

.watch-pager .swiper-pagination-bullet:nth-child(3) {
    background-image: url(img/watch/nav/nav3.png);
}

.watch-pager .swiper-pagination-bullet:nth-child(4) {
    background-image: url(img/watch/nav/nav4.png);
}

.watch-pager .swiper-pagination-bullet:nth-child(5) {
    background-image: url(img/watch/nav/nav5.png);
}

.watch-pager .swiper-pagination-bullet:nth-child(6) {
    background-image: url(img/watch/nav/nav6.png);
}

.watch-pager .swiper-pagination-bullet:nth-child(7) {
    background-image: url(img/watch/nav/nav7.png);
}

.watch-pager .swiper-pagination-bullet:nth-child(8) {
    background-image: url(img/watch/nav/nav8.png);
}

.watch-pager .swiper-pagination-bullet:nth-child(9) {
    background-image: url(img/watch/nav/nav9.png);
}

.watch-pager .swiper-pagination-bullet:nth-child(10) {
    background-image: url(img/watch/nav/nav10.png);
}

/************************************************/
